.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &.grid-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &.grid-2-1 {
        grid-template-columns: 2fr 1fr;
        @media screen and (max-width: 991px) {
            grid-template-columns: 1fr;
        }
    }
    &.grid-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &.grid-gap-1 {
        grid-gap: 1rem;
    }
    &.swiper-slide {
        grid-template-columns: 1fr;
        @media screen and (min-width: 991px) {
            grid-template-columns: 2fr 1.3fr;
        }
    }
    &.producer {
        grid-template-columns: 1fr 2fr;
    }
    &#producer {
        grid-template-columns: 1fr 1fr;
    }
    &.grid-m-1 {
        @media screen and (max-width: $tablet) {
            grid-template-columns: 1fr;
        }
    }
    &.grid-m-2 {
        @media screen and (max-width: $tablet) {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.flex {
    display: flex;
    &.flex-space-between {
        justify-content: space-between;
    }
    &.flex-wrap {
        flex-wrap: wrap;
    }
    &.flex-4 {
        .team-member {
            width: calc(25% - 2rem);
        }
    }
    &.m-flex-col {
        @media screen and (max-width: $tablet) {
            flex-direction: column;
        }
    }
    &.flex-col {
        flex-direction: column;
    }
}