.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &.grid-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &.grid-gap-1 {
        grid-gap: 1rem;
    }
    &.swiper-slide {
        grid-template-columns: 2fr 1.3fr;
    }
    &#footer {
        margin-left: 2rem;
        grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: " . . . . . " " . . . . social";
        gap: 1rem;
    }
    &#team {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &.producer {
        grid-template-columns: 1fr 2fr;
    }
    &#producer {
        grid-template-columns: 1fr 1fr;
    }
    .colspan2 {
        grid-column-end: 5;
        grid-column-start: 3;
    }
}

#team {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.flex {
    display: flex;
    &.flex-space-between {
        justify-content: space-between;
    }
    &.flex-wrap {
        flex-wrap: wrap;
    }
    &.flex-4 {
        .team-member {
            width: calc(25% - 2rem);
        }
    }
}

.flex-col {
    flex-direction: column;
}