footer {
    padding: 3rem 0 2rem 0;
    @media screen and (max-width: $tablet) {
        font-size: 15px;
    }
    input {
        width: 100%;
        border: 0;
        border-bottom: 2px solid $green-dark;
        background: transparent;
    }
    .footer-logo {
        width: 40%;
        @media screen and (min-width: $tablet) {
            width: 20%;
        }
    }
    .colspan2 {
        @media screen and (min-width: $tablet) {
            grid-column-start: 2;
            grid-column-end: 4;
        }
    }
    .social {
        @media screen and (min-width: $tablet) {
            justify-self: end;
        }
        img {
            width: auto;
            height: 26px;
        }
    }
    .copyright {
        @media screen and (max-width: $tablet) {
            font-size: 12px;
        }
    }
    .footer-right {
        line-height: 2;
    }
}