.project-single {
    font-family: 'NeueMontreal-Regular';
    .project-cover {
        width: 100%;
    }
    h1 {
        color: $black;
        font-family: 'NeueMontreal-Bold';
        margin: 1rem 0;
        @media screen and (min-width: $tablet) {
            margin: 3rem 0;
        }
    }
}

.video-embed {
    width: 100%;
    height: 70vh;
    position: relative;
}